*{
  box-sizing: border-box;
}

/* header */
.header-container{
  display: flex;
    justify-content: space-between;
}
.sidebar-mobile{
  display:none;
}
.sidebar.active{
  position: absolute;
  top: 0px;
  left: 0;
  background-color:#fff;
  width: 50%;
  max-width: 250px;
  height: 100%;
}
.sidebar-menu{
  height: 300px;
  display: grid;
}
.header-icons{
  display: flex;
  align-items: center;
}
.account-container .account{
  position: absolute;
  top: 37px;
  right: 20px;
}
@media only screen and (max-width: 768px) {
  .sidebar-mobile {
    display: block;
  }
  .nav-container{
    display: none;
  }
}
/* end header */

/* login register */
section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}


input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

label,
button {
margin-top: 1rem;
}

button {
padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
/* end login register */